.newPatient{
    flex: 4;
    padding: 20px;
}

.newPatientForm{
    width: 65%;
}

.newPatientPersonal,.newPatientContact{
    margin-bottom: 1.5rem;
}

.newPatientTitlePersonal,.newPatientTitleContact{
    font-size: 20px;
}
.newPatientItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.newPatientItem2{
    display: grid;
    grid-template-columns: repeat(2, 49.26%);
    gap: 1rem;
}

.newPatientItem3{
    display: grid;
    grid-template-columns: repeat(3, 32.32%);
    gap: 1rem;
}
.newPatientItem4{
    display: grid;
    grid-template-columns: repeat(4, 23.87%);
    gap: 1rem;
}

.newPatientItem>label{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}

.newPatientItem>input{
    height: 30px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.newPatientBT{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}