.staff{
    flex: 4;
    padding: 20px;
    overflow: visible ;
}

.staffTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.staffAddBtn{

    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.staffContainer{
    display: flex;
    margin-top: 20px;
}

.staffShow{
    flex: 1;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.staffUpdate{
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.staffShowTop{
    display: flex;
    align-items: center;
    
}

.staffShowTopTitle{
    display: flex;
    flex-direction: column;
}

.staffShowName{
    font-weight: 600;
}

.staffShowOccupation{
    font-weight: 300;
}

.staffShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
}

.staffShowDetail{
    margin-bottom: 1.5rem;
}

.staffShowInfo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    color: #444;
}

.staffShowIcon{
    font-size: 1.5rem !important;
}

.staffShowInfoTitle{
    margin-left: 10px;
}
.staffUpdateTitle{
    font-size: 24px;
}
.staffUpdateForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.staffUpdatePersonal, .staffUpdateContact{
    margin-bottom: 1.5rem;
}
.staffUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.staffShowInfo2,.staffUpdateItem2{
    display: grid;
    grid-template-columns: repeat(2, 49.26%);
    gap: 1rem;
}

.staffShowInfo3,.staffUpdateItem3{
    display: grid;
    grid-template-columns: repeat(3, 32.32%);
    gap: 1rem;
}
.staffShowInfo4,.staffUpdateItem4{
    display: grid;
    grid-template-columns: repeat(4, 23.87%);
    gap: 1rem;
}

.staffUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.staffUpdateInput{
    border: none;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid gray;
    background: transparent;
}

.staffUpdateBtn{
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: 600;
}